.nav {
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px 5px rgb(0 0 0/ 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  align-items: center;
}

.loginBtn {
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.loginBtn:hover {
  background-color: green;
  color: white;
}
